ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .header{
      padding: 50px;
      text-align: left;
      text-color: white;
      background: green;
      
  }

.body {
    background-image:  url("C:\Users\missh\Basic-Portfolio\Assets\images\email-pattern.png");
    font-family: Georgia;
}

.h1 

#bio-image {
    float: right;
}

.about-me {

    float: left;
    padding: 50px;

}