ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }


body {
    background-image:  url("C:\Users\missh\Basic-Portfolio\Assets\images\email-pattern.png");

}

#bio-image {
    float: right;
}

.about-me {

    float: left;
    padding: 50px;

}