
body {
    background-image:  url("images/memphis-mini.png");
    font-family: Georgia;
   
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
 
  
  li a {
    display: inline-block;
    padding: 8px;
    margin: 5px;
    background-color: #dddddd;
    float: right;
    position: relative;
    top: 20px;
  }


  header{
      padding: 10px;
      margin: 40px;
      background: #ffffff;
      position: relative;
      width: 960px;

  }  

.name {
    background-color:#4aaaa5;
    color: #fff;
}


  h2{
      margin: 20px;
  }

.container{
    max-width: 960px;
    background-color: white;
    position: relative;
    margin: 0 auto;
    padding: 100px;
    clear: both;
}


#bio-image {
    padding: 10px;
    margin : 10px;
    width: 200px;
    height: 200px;
    float: left; 
}

.cleardiv{
    clear: both;
}


footer{

    position: absolute;
    text-align: center;
    bottom: 0;

}